***The following code demonstrates The abilitiy to create and even draw a graph, and calculate features on a small dataset.
The usage of small dataset is meant to save runtime and get a clear drawing of the graph:***

In [1]:
import numpy as np
import graph as helper
import features
import networkx as nx
import pandas as pd
from scipy import sparse
import predictor 

import scipy as sp
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

import tqdm
import random
import functools

import lightgbm as lgbm

In [9]:
df = pd.read_csv('./calculated_features/features-100-refactored.tsv', sep = '\t').drop(['positive_in_degree(u)', 'positive_out_degree(u)', 'negative_in_degree(u)',
                        'negative_out_degree(u)', 'positive_in_degree(v)', 'positive_out_degree(v)',
                        'negative_in_degree(v)', 'negative_out_degree(v)', 'total_out_degree(u)',
                        'total_in_degree(v)', 'C(u,v)', 'edge_sign'], axis = 1)

KeyError: "['total_out_degree(u)' 'total_in_degree(v)' 'C(u,v)'] not found in axis"

In [8]:
df

,Unnamed: 0,"(0, 0, 0, 0)","(0, 0, 0, 1)","(0, 0, 1, 0)","(0, 0, 1, 1)","(0, 1, 0, 0)","(0, 1, 0, 1)","(0, 1, 1, 0)","(0, 1, 1, 1)","(1, 0, 0, 0)",...,"(1, 1, 1, 0)","(1, 1, 1, 1)",positive_out_degree(u),negative_in_degree(u),negative_out_degree(u),positive_in_degree(v),positive_out_degree(v),negative_in_degree(v),negative_out_degree(v),edge_sign
0,"(514, 3)",0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,23,1,0,0
1,"(3, 514)",0,0,0,0,0,0,0,0,0,...,0,1,23,1,0,0,0,1,0,0
2,"(514, 6)",0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,"(6, 514)",0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
4,"(514, 8)",0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7305,"(422, 415)",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7306,"(415, 428)",0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
7307,"(428, 415)",0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
7308,"(422, 428)",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7309,"(428, 422)",0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0

In [11]:
graph = pd.read_csv('./datasets/variant3-wiki.tsv', sep='\t')

In [24]:
graph[(graph.ToNodeId == 425) | (graph.FromNodeId == 4066)]

       FromNodeId  ToNodeId  Sign
2604           59       425     1
6071          308       425     1
7403          403       425     1
11870         826       425     1
12899         949       425     1
13667         996       425     1
14001        1024       425     1
15131        1132       425     1
15516        1142       425     1
16196        1183       425     1
16924        1236       425     1
17021        1247       425     1
17495        1305       425     1
18105        1357       425     1
18231        1374       425     1
19251        1471       425     1
21042        1585       425     1
21072        1592       425     1
21917        1691       425     1
23175        1820       425     1
24293        1991       425     1
26336        2256       425     1
26541        2274       425     1
28159        2474       425     1
29197        2565       425     1
30239        2646       425     1
32400        2768       425     1
32607        2791       425     1
33319        2925       425     1
33376        2935       425     1
42520        4066      3568     1
42521        4066      4480     1
42522        4066      3352     1

In [18]:
real_graph = helper.build_graph('./datasets/variant3-wiki.tsv')

In [ ]:
debug = pd.read_csv('debug-delete-me.tsv', sep = '/t')

In [3]:
classification_report([1,1 ,1,1,1,1], [1,1 ,1,1,1,1])

'              precision    recall  f1-score   support\n\n           1       1.00      1.00      1.00         6\n\n    accuracy                           1.00         6\n   macro avg       1.00      1.00      1.00         6\nweighted avg       1.00      1.00      1.00         6\n'

In [5]:
import logging

logging.basicConfig(
    filename='trylogs.txt',
    filemode='a',
    format='%(asctime)s %(levelname)-8s %(message)s',
    level=logging.INFO,
    datefmt='%Y-%m-%d %H:%M:%S')

In [23]:
logging.debug('a')

In [24]:
import os

In [26]:
os.listdir('.')

['.git',
 '.gitignore',
 '.idea',
 '.ipynb_checkpoints',
 'assertion.tsv',
 'calculated_features',
 'compare_dfs.ipynb',
 'datasets',
 'debug-delete-me.tsv',
 'debug.log',
 'features.py',
 'graph.py',
 'manipulate_test_data.ipynb',
 'normalize_wiki_file.py',
 'out-wiki-ml-variant1.tsv',
 'out-wiki-ml-variant2.tsv',
 'prediction_logs',
 'prediction_logs1',
 'predictor.py',
 'trash',
 'Untitled.ipynb',
 '__init__.py',
 '__pycache__']

In [29]:
if not 0:
    print("0 falsy")

0 falsy

In [35]:
print(float(19/21))

0.9047619047619048

In [36]:
df = pd.read_csv('./assertion-normalize-1000.tsv', sep = '\t')

In [37]:
df.dtypes

Unnamed: 0       object
(0, 0, 0, 0)      int64
(0, 0, 0, 1)      int64
(0, 0, 1, 0)      int64
(0, 0, 1, 1)      int64
(0, 1, 0, 0)      int64
(0, 1, 0, 1)      int64
(0, 1, 1, 0)      int64
(0, 1, 1, 1)      int64
(1, 0, 0, 0)      int64
(1, 0, 0, 1)      int64
(1, 0, 1, 0)      int64
(1, 0, 1, 1)      int64
(1, 1, 0, 0)      int64
(1, 1, 0, 1)      int64
(1, 1, 1, 0)      int64
(1, 1, 1, 1)      int64
edge_sign       float64
dtype: object