In [3]:
import pandas as pd
import graph as helper

In [14]:
def compute_degrees(tsv_file):
    # build new data frame for degrees: 
    df = pd.read_csv(tsv_file, sep='\t')
    num_of_nodes = max(df.max())
    data = {'positive_in_degree': [0], 'positive_out_degree':[0], 'negative_in_degree': [0], 'negative_out_degree': [0]}
    degrees_df = pd.DataFrame(data, index = [node_id for node_id in range(num_of_nodes)])
    
    # fill data frame with data:
    for node_id in range(30):
            positive_in = df[(df.ToNodeId == node_id) & (df.Sign == 1)].shape[0]
            positive_out = df[(df.FromNodeId == node_id) & (df.Sign == 1)].shape[0]
            negative_in = df[(df.ToNodeId == node_id) & (df.Sign == -1)].shape[0]
            negative_out = df[(df.FromNodeId == node_id) & (df.Sign == -1)].shape[0]
            
            degrees_df.at[node_id,'positive_in_degree'] = positive_in
            degrees_df.at[node_id, 'positive_out_degree'] = positive_out
            degrees_df.at[node_id, 'negative_in_degree'] = negative_in
            degrees_df.at[node_id, 'negative_out_degree'] = negative_out
    
    return degrees_df

,positive_in_degree,positive_out_degree,negative_in_degree,negative_out_degree
0,0,0,0,1
1,1,0,1,1
2,1,1,0,0
3,4,0,0,0
4,1,9,0,5
...,...,...,...,...
131822,0,0,0,0
131823,0,0,0,0
131824,0,0,0,0
131825,0,0,0,0
131826,0,0,0,0

In [10]:
df = pd.read_csv('./datasets/soc-sign-epinions.tsv', sep = "\t")
df[(df.ToNodeId == 3) | (df.FromNodeId == 3)]

df.at[2, 'FromNodeId'] = 666
df

        FromNodeId  ToNodeId  Sign
0                0         1    -1
1                1    128552    -1
2              666         3     1
3                4         5    -1
4                4       155    -1
...            ...       ...   ...
841367      131821       366     1
841368      131822    112101     1
841369      131823    131824     1
841370      131825    131826     1
841371      131827      7714     1

[841372 rows x 3 columns]

In [19]:
def get_degrees(i):
    pass
    # return {
      #  "outgoing": df[df.FromNodeId == i]['Sign'].value_counts(), 
       # "incoming": df[df.ToNodeId == i]['Sign' == '1'].value_counts()}



df[df.ToNodeId == 3][df.Sign == 1].shape[0]

C:\Users\omyiz\anaconda3\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

4

In [7]:
def get_triads(u, v):
    df[((df.FromNodeId == u) | (df.ToNodeId == u)) | (df.FromNodeId == v) | (df.ToNodeId == v)]

In [8]:
G = helper.build_graph('./datasets/soc-sign-epinions.tsv')

In [3]:
G